@using MrCMS.Website
@model System.Collections.Generic.List<MrCMS.Web.Apps.Core.Models.Navigation.NavigationRecord>



@{
    var loggedIn = CurrentRequestData.CurrentUser != null;
if(loggedIn)
{
    var user = CurrentRequestData.CurrentUser;
 <a href="javascript:void(0);" class="dropdown-toggle ink-reaction" data-toggle="dropdown">
                                <i class="fa fa-user"></i>
                                <span class="hidden-xs">
                                   @user.Name
                                   
                                </span>
                            </a>
    <ul class="dropdown-menu animation-dock">
       @{
           var roleName = @user.Roles.Any() ? @user.Roles.First().Name : "";
       }
        <li><a href="#">Logged in as @roleName </a></li>
                                   
              
        <li class="divider"></li>
        @foreach (var page in Model)
        {

            <li><a href="@page.Url">@page.Text</a></li>
        
        }
        
       
    </ul><!--end .dropdown-menu -->
}
}
 