@using MrCMS.Helpers
@{
    ViewBag.Title = "Add Bulk Staff";
}
 
@model MrCMS.Web.Apps.Core.Utility.BulkUploadModel
@using (Html.BeginForm("AddStaffBulk","CompanyPage",FormMethod.Post,new {@id="bulkStaffform",enctype = "multipart/form-data" }))
    {
      
      @Html.AntiForgeryToken()
 <div class="modal-header">
     <button aria-label="Close" data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span></button>
     <h4 class="modal-title">Upload Bulk Staff </h4>
 </div>
<div class="modal-body">
    <div class="form-group">
        @Html.Label("Company")
        @Html.DropDownList("CompanyID",new SelectList(ViewBag.CompanyList, "Id", "Name"),new { @class = "form-control",@id="CompanyId",@onchange="SelectChange(this)"})
   
        
    </div>
 <div class="form-group">
        @Html.Label("Subsidiary")
       @Html.DropDownList("Subsidiary",new SelectList(ViewBag.SubsidiaryList, "Id", "Name"),new { @class = "form-control",@id="CompanySubsidiary"})
      
        
    </div>
    <div class="form-group">
        @Html.Label("Operation Mode")
        @Html.DropDownList("expungeMode", new SelectList(ViewBag.ExpungeModeList, "Id", "Name"), new { @class = "form-control", @id = "expungeMode" })


    </div>
    <div class="form-group">
        @Html.Label("Bulk File")
@Html.TextBox("Bulkfile",null, new {type = "file" })

        
    </div>

  

</div>
<div class="modal-footer">

    <button data-dismiss="modal" class="btn btn-default pull-left modal-close-btn" type="button">Cancel</button>
    <button class="btn btn-primary" type="submit" id="btnSave" >Save </button>
</div>

}

<script>
    SelectChange(document.getElementById("CompanyId"));
    $(function () {
        
        //Do validation for yourself.
        $('#btnSave').click(function (e) {
   
          

        });


    });


</script>



