@model MrCMS.Web.Apps.Core.Entities.Company

@{
    ViewBag.Title = "Delete Company";
}

 <div class="modal-header">
     <button aria-label="Close" data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span></button>
     <h4 class="modal-title">Delete Company</h4>
 </div>
<div class="modal-body">
    <div class="alert alert-danger alert-dismissable">
        <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
        <h4><i class="icon fa fa-ban"></i>Alert!</h4>
        Are you sure you want to delete the Company ?
    </div>
    <table class="table table-condensed">
        <tbody>
            <tr>

                <th>Field</th>
                <th>Value</th>

            </tr>
            <tr>
                <td>Name</td>
                <td>@Html.DisplayFor(x=>x.Name)</td>
            </tr>
            <tr>
                <td>Code</td>
                <td>@Html.DisplayFor(x=>x.Code)</td>
            </tr>
            <tr>
                <td>Description</td>
                <td>@Html.DisplayFor(x=>x.Description)</td>
            </tr>


        </tbody>
    </table>

</div>


<div class="modal-footer">
    @using (Html.BeginForm("Delete","CompanyPage",FormMethod.Post))
            {
                @Html.AntiForgeryToken()
@Html.HiddenFor(x=>x.Id)
@Html.HiddenFor(x=>x.Name)
                <button data-dismiss="modal" class="btn btn-default pull-left modal-close-btn" type="button">Cancel</button>
    <button class="btn btn-success" type="submit" id="btnSave">Confirm </button>
    }
</div>



<script>

    $(function () {
        $('#btnSave').click(function () {
            $('#modal-container').modal('hide');
        });
    });
</script>
