@model MrCMS.Web.Apps.Core.Entities.Benefit

@{
    ViewBag.Title = "Delete Benefit";
}

 <div class="modal-header">
     <button aria-label="Close" data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span></button>
     <h4 class="modal-title">Delete Benefit</h4>
 </div>
<div class="modal-body">
    <div class="alert alert-danger alert-dismissable">
        <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
        <h4><i class="icon fa fa-ban"></i>Alert!</h4>
        Are you sure you want to delete the Benefit?
    </div>
    <table class="table table-condensed">
        <tbody>
            <tr>

                <th>Field</th>
                <th>Value</th>

            </tr>
            <tr>
                <td>Name</td>
                <td>@Html.DisplayFor(x=>x.Name)</td>
            </tr>
            <tr>
                <td>Description</td>
                <td>@Html.DisplayFor(x=>x.Description)</td>
            </tr>


        </tbody>
    </table>

</div>


<div class="modal-footer">
    @using (Html.BeginForm("DeleteBenefit","CompanyPage",FormMethod.Post,new {@id="benefitform"}))
            {
                @Html.AntiForgeryToken()
@Html.HiddenFor(x=>x.Id)
@Html.HiddenFor(x=>x.Name)
                <button data-dismiss="modal" class="btn btn-default pull-left modal-close-btn" type="button">Cancel</button>
  <button class="btn btn-success" type="button" id="btnSave" onclick="DeleteBenefit()">Confirm</button>
    }
</div>



<script>

    $(function () {
        $('#btnSave').click(function () {
            $('#modal-container').modal('hide');
        });
    });
</script>
