@model MrCMS.Web.Apps.Core.Entities.Staff

@{
    ViewBag.Title = "Restore  Staff";
}

 <div class="modal-header">
     <button aria-label="Close" data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span></button>
     <h4 class="modal-title">Restore Staff</h4>
 </div>
<div class="modal-body">
    <div class="alert alert-danger alert-dismissable">
        <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
        <h4><i class="icon fa fa-ban"></i>Alert!</h4>
      This Action is going to restore the expunged staff,all dependents will be restored as well.
    </div>
    <table class="table table-condensed">
        <tbody>
            <tr>

                <th>Field</th>
                <th>Value</th>

            </tr>
        <tr>
            <td>Staff Full Name</td>
            <td>@Html.DisplayFor(x => x.StaffFullname)</td>
        </tr>
            <tr>
                <td>Staff Plan</td>
                <td>@ViewBag.StaffPlan</td>
            </tr>
            <tr>
                <td>No of Dependents</td>
                <td>@ViewBag.Dependents</td>
            </tr>
            <tr>
                <td>Date Expunged</td>
                <td>@ViewBag.DateExpunges</td>
            </tr>
            <tr>
                <td>Expunged By</td>
                <td>@ViewBag.ExpungedBy</td>
            </tr>
            <tr>
                <td>Expunged Note</td>
                <td>@ViewBag.ExpungeNote</td>
            </tr>
        </tbody>
    </table>

</div>


<div class="modal-footer">
    @using (Html.BeginForm("RestoreStaff","CompanyPage",FormMethod.Post))
            {
                @Html.AntiForgeryToken()
@Html.HiddenFor(x=>x.Id)

                <button data-dismiss="modal" class="btn btn-default pull-left modal-close-btn" type="button">Cancel</button>
    <button class="btn btn-success" type="submit" id="btnSave">Confirm </button>
    }
</div>



<script>

    $(function () {
        $('#btnSave').click(function () {
            $('#modal-container').modal('hide');
        });
    });
</script>
