@using MrCMS.Helpers
@model MrCMS.Web.Apps.Core.Models.Plan.PlanVm 
@{
    ViewBag.Title = "Add Plan";
}
 

@using (Html.BeginForm("Add","PlanPage",FormMethod.Post))
    {
      @Html.AntiForgeryToken()
 <div class="modal-header">
     <button aria-label="Close" data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span></button>
     <h4 class="modal-title">Add new Plan</h4>
 </div>
<div class="modal-body">
    <div class="form-group">
        @Html.Label("Plan Name")
@Html.TextBoxFor( x=>x.Name, new { @class = "form-control",@placeholder="Plan Name",@id="plan_name" })
@Html.ValidationMessageFor(x=>x.Name)
        
    </div>
 
 <div class="form-group">
       @Html.Label("Plan Code")
@Html.TextBoxFor( x=>x.Code, new { @class = "form-control",@placeholder="Plan Code" })
@Html.ValidationMessageFor(x=>x.Code)
        
    </div>
 <div class="form-group">
         @Html.Label("Plan Description")
@Html.TextBoxFor( x=>x.Description, new { @class = "form-control",@placeholder="Plan Description" })
@Html.ValidationMessageFor(x=>x.Description)
        
    </div>

    <div class="form-group">
       @Html.Label("Plan Status")
        @Html.CheckBoxFor(x=>x.Status)
      
        
    </div>
</div>
        <div class="modal-footer">
            
            <button data-dismiss="modal" class="btn btn-default pull-left modal-close-btn" type="button">Cancel</button>
            <button class="btn btn-primary" type="submit" id="btnSave">Save </button>
        </div>

}

<script>

    $(function () {
        
//Do validation for yourself.
        $('#btnSave').click(function (e) {
           
            $('#modal-container').modal('hide');
        });
        
       
    });
</script>



