@using System.Web.Optimization
@using MrCMS.ACL.Rules
@using MrCMS.Helpers
@using MrCMS.Settings
@using MrCMS.Website
@using MrCMS.Website.Optimization
@using StackExchange.Profiling
@model MrCMS.Entities.Documents.Web.Webpage
<!DOCTYPE html>
<html lang="en">
	<head>
		<title>@(this.PageTitle())</title>

		<!-- BEGIN META -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="@(this.Description())" />
    <meta name="keywords" content="@(this.Keywords())" />
		<!-- END META -->

        <!-- BEGIN STYLESHEETS -->
   
    <link href="@Url.Content("~/Apps/Core/Content/Template/css/theme-default/bootstrap.css?1422792965")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Apps/Core/Content/Template/css/theme-default/materialadmin.css?1425466319")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Apps/Core/Content/Template/css/theme-default/font-awesome.min.css?1422529194")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Apps/Core/Content/Template/css/theme-default/material-design-iconic-font.min.css?1421434286")" rel="stylesheet" type="text/css" />
 <link href="@Url.Content("~/Apps/Core/Content/Styles/style.css")" rel="stylesheet" type="text/css" />
  <link href="@Url.Content("~/Apps/Core/Content/AdminLTE/plugins/datepicker/datepicker3.css")" rel="stylesheet" type="text/css" />
    @Styles.Render(AppStylesheetBundle.VirtualUrl)
    @{ Html.RenderCss(); }
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><script src="/Apps/Core/Content/Scripts/respond.min.js"></script><![endif]-->
    @Html.Raw(SiteSettings<SEOSettings>().TrackingScripts)
    @Html.Raw(Model.CustomHeaderScripts)
 
		<link href='http://fonts.googleapis.com/css?family=Roboto:300italic,400italic,300,400,500,700,900' rel='stylesheet' type='text/css'/>
	

		<!-- END STYLESHEETS -->

		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
		<script type="text/javascript" src="../../assets/js/libs/utils/html5shiv.js?1403934957"></script>
		<script type="text/javascript" src="../../assets/js/libs/utils/respond.min.js?1403934956"></script>
		<![endif]-->
	</head>
	<body class="menubar-hoverable header-fixed ">
        @RenderBody();
        <!-- BEGIN JAVASCRIPT -->
        <script src="@Url.Content("~/Apps/Core/Content/Template/js/libs/jquery/jquery-1.11.2.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Apps/Core/Content/Template/js/libs/jquery/jquery-migrate-1.2.1.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Apps/Core/Content/Template/js/libs/bootstrap/bootstrap.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Apps/Core/Content/Template/js/libs/spin.js/spin.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Apps/Core/Content/Template/js/libs/autosize/jquery.autosize.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Apps/Core/Content/Template/js/libs/nanoscroller/jquery.nanoscroller.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Apps/Core/Content/Template/js/core/source/App.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Apps/Core/Content/Template/js/core/source/AppNavigation.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Apps/Core/Content/Template/js/core/source/AppOffcanvas.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Apps/Core/Content/Template/js/core/source/AppCard.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Apps/Core/Content/Template/js/core/source/AppForm.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Apps/Core/Content/Template/js/core/source/AppNavSearch.js")" type="text/javascript"></script>

      
        <script src="@Url.Content("~/Apps/Core/Content/Template/js/core/source/AppVendor.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Apps/Core/Content/Template/js/core/demo/Demo.js")" type="text/javascript"></script>

        <!-- From CMS -->
        <script src="@Url.Content("~/Apps/Core/Content/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Apps/Core/Content/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
  <script src="@Url.Content("~/Apps/Core/Content/AdminLTE/dist/js/app.js")" type="text/javascript"></script>
   <script src="@Url.Content("~/Apps/Core/Content/Scripts/AppScript.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Apps/Core/Content/AdminLTE/plugins/datepicker/bootstrap-datepicker.js")" type="text/javascript"></script>


<script>
  
    $(function () {

        
        //Date picker
        $('#datepicker').datepicker({
            autoclose: true
        });

    });


</script>
        <!-- END JAVASCRIPT -->
        @if (CurrentRequestData.CurrentUser != null && CurrentRequestData.CurrentUser.CanAccess<AdminBarACL>("Show") && SiteSettings<SiteSettings>().EnableInlineEditing)
        {
            Html.RenderAction("InPageEditor", "InPageAdmin", new { id = Model.Id, area = "Admin" });
        }
        @if (IsSectionDefined("JavascriptBlockInclude"))
        {
            @RenderSection("JavascriptBlockInclude")
        }
        @Html.Raw(Model.CustomFooterScripts)
        @Scripts.Render(AppScriptBundle.VirtualUrl)
        @{ Html.RenderScripts(); }
        @MiniProfiler.RenderIncludes()
    </body>
</html>
