@using MrCMS.Helpers
@using MrCMS.Web.Apps.Core.Pages
@model MrCMS.Web.Apps.Core.Models.RegisterAndLogin.ForgotPasswordModel

@using (Html.BeginForm(FormMethod.Post, new { @class = "" }))
{

    var message = ViewData["message"] as string;

<!-- BEGIN LOGIN SECTION -->
<section class="section-account">
			
            <div class="spacer"></div>
    <div class="card contain-sm style-transparent">
        	<div class="card-head style-primary">
											<header>Recover Password</header>
										</div>
        <div class="card-body" style="background-color:white">
                    
            <div class="form-group">
                @Html.LabelFor(x => x.Email)
                @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.Email)
           
            </div>
            <div class="btn-group">
                <input type="submit" value="Recover password" class="btn btn-primary" />
                <a href="@( UniquePageHelper.GetUrl<LoginPage>())" class="btn btn-default"><span class="glyphicon glyphicon-user"></span>@Resource("Login")</a>
            </div>

 @if (!String.IsNullOrEmpty(message))
            {
                <br /><br />
                <div class="alert alert-success">@message</div>
            }
        </div>
    </div>

        </section>
<!-- END LOGIN SECTION -->
}