@model MrCMS.Web.Apps.Core.Pages.CaptureClaimsPage
@{
    ViewBag.Title = "Incoming Claims";
    Layout = "~/Apps/core/views/shared/_BaseLayout.cshtml";
}

@helper Truncate(string input, int length)
{
if (input.Length <= length)
{
        @input
}
else
{
        @input.Substring(0, length)<text>...</text>
}
}

@helper StatusColor(bool input)
{
var response = "";
if (input)
{
    response =
            "success";

}
else
{
    response = "danger";

}
    @response
}

<div class="row">

    <div class="col-md-12 ">
        <div class="callout callout seegreen " style="margin-left: -5px">
            <h4>Tip!</h4>
            <p>Capture claims by batch,claims are ordered by the date received.</p>
        </div>
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">Search Claim</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            @using (Html.BeginForm("IncomingClaims", "ClaimsPage", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                @Html.AntiForgeryToken()

                <div class="box-body">
                    <div class="form-group">

                        <label class="col-sm-2 control-label" for="year">Batch</label>
                        <div class="col-sm-3">
                            @Html.DropDownList("Batch", new SelectList(ViewBag.BatchList, "Id", "Name"), new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">

                        <label class="col-sm-2 control-label" for="Provider_list">Provider</label>
                        <div class="col-sm-5">
                            @Html.DropDownList("Provider_list", new SelectList(ViewBag.MyProvidersList, "Id", "Name"), new { @class = "form-control chosen-select",@multiple="multiple" })
                        </div>
                    </div>

                    <div class="form-group">

                        <label class="col-sm-2 control-label" for="Month_list">Received Month</label>
                        <div class="col-sm-3">
                            <select id='Month_list' class="form-control" name="Month_list">
                              
                                <option value='1'>Janaury</option>
                                <option value='2'>February</option>
                                <option value='3'>March</option>
                                <option value='4'>April</option>
                                <option value='5'>May</option>
                                <option value='6'>June</option>
                                <option value='7'>July</option>
                                <option value='8'>August</option>
                                <option value='9'>September</option>
                                <option value='10'>October</option>
                                <option value='11'>November</option>
                                <option value='12'>December</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">

                        <label class="col-sm-2 control-label" for="year">Received Year</label>
                        <div class="col-sm-3">
                            @Html.DropDownList("Year", new SelectList(ViewBag.YearList, "Id", "Name"), new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">

                        <label class="col-sm-2 control-label" for="year">Zone</label>
                        <div class="col-sm-3">
                            @Html.DropDownList("Zone", new SelectList(ViewBag.ZoneList, "Id", "Name"), new { @class = "form-control" })
                        </div>
                    </div>
                    @*<div class="form-group">
                        <label class="col-sm-2 control-label" for="Delivered_By">Delivered By</label>

                        <div class="col-sm-7">

                            @Html.TextBox("Delivered_By", null, new { @class = "form-control", @placeholder = "Enter Full Name" })
                        </div>

                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="User_list">Transfered To</label>

                        <div class="col-sm-7">

                            @Html.DropDownList("User_list", new SelectList(ViewBag.UserList, "Id", "Name"), new { @class = "form-control" })
                        </div>

                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="User_list">Date Received From</label>

                        <div class="col-sm-2">

                            <div class="input-group">

                                <span class="input-group-addon"><input type="checkbox"  class="input-group-addon"/></span>
                                @Html.TextBox("DateReceived", (string)ViewBag.Defaultdate, new { @class = "form-control", @placeholder = "MM/DD/YYYY" })
                            </div>

                        </div>
                        <div class="col-sm-2">

                            <div class="input-group">


                                @Html.TextBox("DateReceived", (string)ViewBag.Defaultdate, new { @class = "form-control", @placeholder = "MM/DD/YYYY" })
                            </div>

                        </div>

                    </div>*@
                 
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    <button class="btn btn-default" type="submit">Reset</button>
                    <button class="btn btn-info pull-right" type="button" id="scr_button">Search</button>
                </div>
            }
        </div>
       
    </div>
</div>
<div class="box">
    <div class="box-header">
        <h3 class="box-title">Claim Batch List</h3>
    </div><!-- /.box-header -->
    <div class="box-body">
        <table id="incomingclaimlist" class="mdl-data-table mdl-data-table--selectable" width="100%">
            <thead>
                <tr>
                    <th class="mdl-data-table__cell--non-numeric">Id</th>
                    <th class="mdl-data-table__cell--non-numeric">GroupName</th>
                    <th class="mdl-data-table__cell--non-numeric">Provider</th>
                    <th class="mdl-data-table__cell--non-numeric">Provideraddress</th>
                   
                    <th class="mdl-data-table__cell--non-numeric">Claims Period</th>
                    <th class="mdl-data-table__cell--non-numeric">Claim Batch</th>
                    <th >Delivery Count</th>
                    <th >Claims Count</th>
                    <th class="mdl-data-table__cell--non-numeric">Narration</th>
                    <th class="mdl-data-table__cell--non-numeric">Total Amount</th>
                    <th class="mdl-data-table__cell--non-numeric">Note</th>
                    <th class="mdl-data-table__cell--non-numeric">Delivery Date</th>
                    <th class="mdl-data-table__cell--non-numeric">Delivered Remotely</th>
                    <th class="mdl-data-table__cell--non-numeric"></th>

                </tr>
            </thead>
            <tbody></tbody>

        </table>
    </div><!-- /.box-body -->
</div><!-- /.box -->

<script>

    $(function () {

        $(".chosen-select").chosen({
            no_results_text: "Oops, nothing found!",
            width: '100%',
            placeholder_text_multiple: "Filter by Provider",
            max_shown_results: 10,
            max_selected_options: 1,

        });

        $.ajaxSetup({
            cache: false
        });


        $('#incomingclaimlist').dataTable({

            "sAjaxSource": '../ClaimsPage/GetClaimBatchJson',

            "scrollY": '50vh',
            "scrollX": true,
            "bProcessing": true,
            "bServerSide": true,
            'columnDefs': [{
                'targets': [0,1,2,3,4,5,8,9],
                'className': 'mdl-data-table__cell--non-numeric',
                'searchable': false,
                'orderable': false,


            }],
            "fnServerData": function (sSource, aoData, fnCallback) {

                aoData.push({ "name": "Provider_list", "value": $('#Provider_list').val() }, { "name": "Month_list", "value": $('#Month_list').val() }, { "name": "year", "value": $('#Year').val() }, { "name": "Batch", "value": $('#Batch').val() }, { "name": "Zone", "value": $('#Zone').val() });
                $.ajax({
                    "type": "GET",
                    "url": sSource,
                    "data": aoData,
                    "success": function (msg) {

                        fnCallback(msg);


                    },
                    error: function (xhr, textStatus, error) {
                        if (typeof console == "object") {
                            console.log(xhr.status + "," + xhr.responseText + "," + textStatus + "," + error);
                        }
                    }
                });
            },
            "bPaginate": true,
            "bLengthChange": true,
            "iDisplayLength": 50,
           
            "bFilter": false,
            "bSort": true,
            "bInfo": true,
            "bAutoWidth": false,
            "aoColumns": [

                 { "mDataProp": "Id", "bVisible": true, sClass: "row_id" },
                   { "mDataProp": "GroupName", "bVisible": false },
             {
                 "mRender": function (data, type, row) {
                     return '<span  title="' + row.PRoviderAddress + '" >' + row.Provider + '</span>';
                 }
             },
             { "mDataProp": "PRoviderAddress", "bVisible": false },
          
              
               
                     { "mDataProp": "month_string", "bVisible": true },
                 { "mDataProp": "Batch" },
                  
                     { "mDataProp": "deliveryCount" },
                      
                      { "mDataProp": "claimscount" },
                      { "mDataProp": "narration", "bVisible": true },
                 { "mDataProp": "totalAmount" },
                  { "mDataProp": "Note" },
                  { "mDataProp": "deliverydate" },
                  { "mDataProp": "isSubmittedRemotely" },
{
                              "mRender": function (data, type, row) {
                                  return '<a href="/claims/capture-claims-form?Id=' + row.Id + '" class="btn btn-info btn-flat btn-xs"> <i class="fa fa-pencil-square-o" aria-hidden="true"> Capture Claim </i></a>' + '  <a href="/ClaimsPage/SubmitClaimVet?Id=' + row.Id + '" class="btn btn-success btn-flat btn-xs modal-link"> <i class="fa fa-check-square-o" aria-hidden="true"> Submit for Vetting </i></a> <a href="/claims/expandclaim?Id=' + row.Id + '" class="btn bg-navy btn-flat btn-xs"><i class="fa fa-expand" aria-hidden="true"></i> Expand Batch</a>';
                              }
                          }





            ]

   , "drawCallback": function (settings) {
       var api = this.api();
       var rows = api.rows({ page: 'current' }).nodes();
       var last = null;

       api.column(1, { page: 'current' }).data().each(function (group, i) {
           if (last !== group) {
               $(rows).eq(i).before(
                   '<tr style="background-color:#0aa89e;font-weight: bold;color:white;"><td colspan="100%"  class="mdl-data-table__cell--non-numeric">' + group + '</td></tr>'
               );

               last = group;
           }
       });
   }


        });
        //$('#datepicker').datepicker({
        //    autoclose: true
        //});
        //$('#datepicker2').datepicker({
        //    autoclose: true
        //});

        $('#scr_button').on('click', function (e) {
            refreshTable();
        });
        function refreshTable() {
            $('#incomingclaimlist').DataTable().ajax.reload();
        }
    });


</script>