@model MrCMS.Web.Apps.Core.Pages.IssuesPage
@{
    ViewBag.Title = "Issues Resolution Page";
    Layout = "~/Apps/core/views/shared/_BaseLayout.cshtml";
}

@helper Truncate(string input, int length)
{
if (input.Length <= length)
{
        @input
}
else
{
        @input.Substring(0, length)<text>...</text>
}
}

@helper StatusColor(bool input)
{
var response = "";
if (input)
{
    response =
            "success";

}
else
{
    response = "danger";

}
    @response
}
<br />
<style>
    .dropdown.dropdown-lg .dropdown-menu {
    margin-top: -1px;
    padding: 6px 20px;
}
.input-group-btn .btn-group {
    display: flex !important;
}
.btn-group .btn {
    border-radius: 0;
    margin-left: -1px;
}
.btn-group .btn:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.btn-group .form-horizontal .btn[type="submit"] {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
}
.form-group .form-control:last-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

#adv-search {
        width: 500px;
        margin: 0 auto;
    }
    .dropdown.dropdown-lg {
        position: static !important;
    }
    .dropdown.dropdown-lg .dropdown-menu {
        min-width: 500px;
    }

</style>
<div class="row">

    <div class="col-md-12 ">
        <div class="callout callout seegreen " style="margin-left: -5px">
            <h4>Tip!</h4>
            <p>All issues are logged here.</p>
        </div>
        <a href="#" class="btn btn-flat btn-success" data-toggle="modal" data-target="#showaddissues"><i class="fa fa-plus" style="color: white">Log new issue</i> </a>


       
        </div><!-- /.box -->
        <!-- /.box -->
    </div>
</div>


<link href="@Url.Content("~/Apps/Core/Content/Styles/buttons.dataTables.min.css")" rel="stylesheet" type="text/css" />

<script src="@Url.Content("~/Apps/Core/Content/Scripts/dataTables.buttons.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Apps/Core/Content/Scripts/buttons.flash.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Apps/Core/Content/Scripts/jszip.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Apps/Core/Content/Scripts/pdfmake.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Apps/Core/Content/Scripts/vfs_fonts.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Apps/Core/Content/Scripts/buttons.html5.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Apps/Core/Content/Scripts/buttons.print.min.js")" type="text/javascript"></script>






<div class="modal fade" id="showaddissues">
    <div class="modal-dialog" role="document" >
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Log a new Issue</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                

                <div class="form-group" >
                    <label>Subject</label>
                    <input type="text" class="form-control input-lg" id="subject" name="subject" />

                </div>
                <div class="form-group">
                    <label>Details</label>
                  <textarea class="form-control" id="details" name="details" rows="4" cols="50"></textarea>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Log Issue</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>