@using MrCMS.Helpers
@using MrCMS.Web.Apps.Core.Entities;
@model MrCMS.Web.Apps.Core.Pages.ProviderListPage
@{
    ViewBag.Title = "Provider List";
}
<br />

<div class="row">

    <div class="col-md-12 ">
        <div class="callout callout seegreen " style="margin-left: -5px" >
            <h4>Tip!</h4>
            <p>Manage providers. View,Create ,Edit and delete Providers. Only approved providers are listed below.</p>
        </div>

    <a href="@Url.Action("Add", "ProviderPage", new { id = -1 })" class="btn btn-flat btn-success"><i class="fa fa-plus" style="color: white">Add new Provider</i> </a>
        <!-- @Html.ActionLink("Add Service", "Edit", "ServicesPage", new { id = -1 }, new { @class = "btn btn-flat btn-success modal-link" })-->
        <div class="box box-info" style="overflow:hidden">
            <div class="box-header with-border">
                <h3 class="box-title">Search Provider</h3>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-xs-4">
                        <span>Provider Name : </span>
                        <input type="text" placeholder="Provider Name" class="form-control" id="src_providername">
                    </div>
                    <div class="col-xs-4">
                        <span>Provider Address : </span>
                        <input type="text" placeholder="Provider Address" class="form-control" id="scr_provideraddress">
                    </div>
                 
                    <div class="col-xs-4">
                        <span>Added By User : </span>
                        @Html.DropDownList("scr_users", new SelectList(ViewBag.userlist, "Id", "Name"),new { @class = "form-control", })
                    </div>
                </div>
          
                <br />
                <div class="row">
                    <div class="col-xs-2">
                        @Html.CheckBox("scr_useDate", false) <b>Use Date Filter</b>
                    </div>
                    <div class="col-xs-3">

                        @Html.TextBox("datepicker", null, new { @class = "form-control", @placeholder = "From Date", @id = "datepicker" })


                    </div>
                    <div class="col-xs-3">

                        @Html.TextBox("datepicker2", null, new { @class = "form-control", @placeholder = "To Date", @id = "datepicker2" })


                    </div>


                </div>
                <div class="row">
                   
                    <div class="col-xs-4">
                        <span> Zone : </span>
                        @Html.DropDownList("scr_Zone", new SelectList(ViewBag.Zonelist, "Id", "Name"), new { @class = "form-control" })
                    </div>
                    <div class="col-xs-4">
                        <span>State : </span>
                        @Html.DropDownList("scr_State", new SelectList(ViewBag.Statelist, "Id", "Name"), new { @class = "form-control" } )
                    </div>

                    <div class="col-xs-4">
                        <span> Service Type : </span>
                        @Html.DropDownList("scr_ServiceType", new SelectList(ViewBag.Servicelist, "Id", "Name"), new { @class = "form-control" })
                    </div>
                 


                </div>
                <div class="row">
                    <div class="col-xs-2">
                        <span>Plan Type : </span>
                        @Html.DropDownList("scr_Plantype", new SelectList(ViewBag.Planlist, "Id", "Name"), new { @class = "form-control" })
                    </div>
                    <div class="col-xs-2">
                        <span>Plan Restriction : </span>
                        <select id="BoundByPlan" class="form-control">

                            <option value="-1">Show All</option>
                            <option value="1">Strictly Plan</option>
                        </select>
                    </div>
                    <div class="col-xs-2">
                        <span>Provider Category : </span>
                        @Html.DropDownList("providercategory", new SelectList(ViewBag.Pcategory, "Id", "Name"), new { @class = "form-control", @id = "providercategory" })
                    </div>
                    </div>
                </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <button class="btn btn-default" type="button">Reset</button>
                <button class="btn btn-info pull-right" type="button" id="scr_button">Search</button>
            </div>
        </div>
   <div class="box">
       <div class="box-header">
          
           <h3 class="box-title">Provider List</h3>
           <a href="@Url.Action("ExportProvider2", "ProviderPage")" class="btn btn-flat btn-warning btn-sm pull-right"><i class="fa fa-excel" style="color: white">Export for client</i> </a>
          
        <a href="@Url.Action("ExportProvider", "ProviderPage")" class="btn btn-flat btn-info btn-sm pull-right"><i class="fa fa-excel" style="color: white">Export Provider</i> </a>
       </div><!-- /.box-header -->
                <div class="box-body">
                  <table id="providerlist" class="mdl-data-table mdl-data-table--selectable" width="100%">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>SubCode</th>
                             <th>Zone</th>
                             <th>Address</th>
                            <th>State</th>
                            <th>LGA</th>
                            <th>Services</th>
                            <th>Plans</th>
                            <th>Status</th>
                            <th>Authorization Status</th>
                            <th>Date Created</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
            
                    
                    
      
                    </tbody>
                    <tfoot>
                     
                    </tfoot>
                  </table>
                </div><!-- /.box-body -->
              </div><!-- /.box -->
       
        
        <!-- /.box -->
    </div>
</div>


  
<link href="@Url.Content("~/Apps/Core/Content/Styles/buttons.dataTables.min.css")" rel="stylesheet" type="text/css" />

 <script src="@Url.Content("~/Apps/Core/Content/Scripts/dataTables.buttons.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Apps/Core/Content/Scripts/buttons.flash.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Apps/Core/Content/Scripts/jszip.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Apps/Core/Content/Scripts/pdfmake.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Apps/Core/Content/Scripts/vfs_fonts.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Apps/Core/Content/Scripts/buttons.html5.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Apps/Core/Content/Scripts/buttons.print.min.js")" type="text/javascript"></script>
<script type="text/javascript">
    $(function () {


        $('#providerlist').dataTable({
            dom: 'Bfrtip',
            buttons: [
                 {
                     extend: 'pdfHtml5',
                     exportOptions: {
                         columns: [1, 2, 3, 4, 5, 6]
                     }
                 },

{
    extend: 'copyHtml5',
    exportOptions: {
        columns: [0, ':visible']
    }
},
            {
                extend: 'excelHtml5',
                exportOptions: {
                    columns: ':visible'
                }
            },

           , 'csv', 'print'
            ],
            "bProcessing": true,
            "bServerSide": true,
         
            fixedHeader: true,
            "scrollY": '50vh',
            "scrollX": true,
            "sAjaxSource": '../Provider/GetJsoAdvance',
            "fnServerData": function (sSource, aoData, fnCallback) {
                
                aoData.push({ "name": "scr_category", "value": $('#providercategory').val() }, { "name": "BoundByPlan", "value": $('#BoundByPlan').val() }, { "name": "scr_ServiceType", "value": $('#scr_ServiceType').val() }, { "name": "scr_Zone", "value": $('#scr_Zone').val() }, { "name": "scr_Plantype", "value": $('#scr_Plantype').val() }, { "name": "src_providername", "value": $('#src_providername').val() }, { "name": "scr_provideraddress", "value": $('#scr_provideraddress').val() }, { "name": "scr_useDate", "value": $('#scr_useDate').is(':checked') }, { "name": "datepicker", "value": $('#datepicker').val() }, { "name": "datepicker2", "value": $('#datepicker2').val() }, { "name": "scr_users", "value": $('#scr_users').val() }, { "name": "scr_State", "value": $('#scr_State').val() });
                $.ajax({
                    "type": "GET",
                    "url": sSource,
                    "data": aoData,
                    "success": function (msg) {

                        fnCallback(msg);


                    },
                    error: function (xhr, textStatus, error) {
                        if (typeof console == "object") {
                            console.log(xhr.status + "," + xhr.responseText + "," + textStatus + "," + error);
                        }
                    }
                });
            },
           
            "bPaginate": true,
            "bLengthChange": true,
         
            "iDisplayLength": 50,
            "bFilter": false,
            "bSort": true,
            "bInfo": true,
            "bAutoWidth": false,
            "aoColumns": [
                 { "mDataProp": "Id", "bVisible": true },
                { "mDataProp": "Name" },
                { "mDataProp": "SubCode" },
                  { "mDataProp": "Zone" },
                  { "mDataProp": "Address" },
                  { "mDataProp": "State.Name" },
                  { "mDataProp": "Lganame" },
                { "mDataProp": "Providerservices", "bVisible": false },
                 { "mDataProp": "Providerplans", "bVisible": false },
                {
                    "mDataProp": "Status", "mRender": function (data, type, row) {
                        var response = "";
                        if (data == true) {
                            response = '<span class="label label-success"> Active</span>';
                        } else {
                            response = '<span class="label label-danger"> Inactive</span>';
                        }

                        return response;
                    }
                },
                //This authorizationstatus has not been implemented properly i only added this here would implement fully if it is needed.
                      {
                          "mDataProp": "AuthorizationStatus", "bVisible": false, "mRender": function (data, type, row) {
                              var response = "";
                              if (data == true) {
                                  response = '<span class="label label-success"> Active</span>';
                              } else {
                                  response = '<span class="label label-danger"> Inactive</span>';
                              }

                              return response;
                          }
                      },
                { "mDataProp": "CreatedDate" },
                {
                    "mRender": function (data, type, row) {
                        return '<a href="/Provider/Details?id=' + row.Id + '" class="btn btn-info btn-flat btn-xs modal-link">Details</a> ' + '<a href="/Provider/Edit?id=' + row.Id + '" class="btn btn-warning btn-flat btn-xs modal-link">Edit</a>' + '  <a href="/Provider/Delete?id=' + row.Id + '" class="btn btn-danger btn-flat btn-xs modal-link">De-list</a>';
                    }
                }





            ]


        });

        $('#scr_button').on('click', function (e) {
            $('#providerlist').DataTable().ajax.reload();
        });

        $('#datepicker').datepicker({
            autoclose: true
        });
        $('#datepicker2').datepicker({
            autoclose: true
        });
    });
    </script>







