@using MrCMS.Helpers
@model MrCMS.Web.Apps.Core.Entities.Enrollee
@{
    ViewBag.Title = "Add Dependent";
}
 

@using (Html.BeginForm("AddDependent","EnrolleePage",FormMethod.Post,new {enctype ="multipart/form-data",id="Dependentform" }))
    {
      @Html.AntiForgeryToken()
 <div class="modal-header">
     <button aria-label="Close" data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span></button>
     <h4 class="modal-title">Add Dependent</h4>
 </div>
<div class="">
    <table class="table table-responsive ">
        <tbody>

            <tr>

                <td colspan="2">
                    <div class="form-group" id="photo_grpD">
                        <img src="~/Apps/Core/Content/Images/placeholder-photo.png" style="max-height: 140px; max-width: 140px;"
                            class="img-rounded" id="photo_imgD">
                        <input type="file" id="photoInputFileD" name="photoInputFileD" required>
                    </div>

                </td>
            </tr>
            <tr>
                <td>Relationship with principal enrollee</td>
                <td>@Html.DropDownList("relationship", new SelectList(ViewBag.relationshiplist, "Id", "Name"), new {@class = "form-control", @id = "provider", @required = "This field is required", @onchange = "SelectChange(this)"})
              
                
                
                </td>


            </tr>
            <tr>
                @Html.Hidden("PrincipalID",Model.Id)
                                            
            </tr>
            <tr>
                <td>Policy Number</td>
                <td>@Html.TextBox("policynumberD", null, new {@class = "form-control", @placeholder = "Policy Number", @id = "policynumber", @required = "Policy Number is required" })</td>
            </tr>
            <tr>
                <td>Surname</td>

                <td>@Html.TextBox("surnameD", null, new {@class = "form-control", @placeholder = "Enrollee  surname", @id = "surname", @title = "This is the enrollee's last name.", @required = "Surname is required"})
                </td>


            </tr>
            <tr>
                <td>Other Names</td>
                <td>@Html.TextBox("othernamesD", null, new {@class = "form-control", @placeholder = "Enrollee other names", @id = "othernames", @title = "This is the  enrollee first name and any other name. ", @required = "Kindly input other name(s)"})
                </td>
            </tr>
            <tr>
                <td>Date of Birth</td>
                <td>@Html.TextBox("datepicker2", null, new {@class = "form-control", @placeholder = "DOB", @id = "datepicker2", @required = "Enter Date of Birth"})</td>
            </tr>
            <tr>
                <td>Sex</td>
                <td>@Html.DropDownList("sexD", new SelectList(ViewBag.Sex, "Id", "Name"), new {@class = "form-control", @id = "sex", @onchange = "SelectChange(this)", @required = "This field is required"})
                </td>
            </tr>

            <tr>
                <td>Mobile Number</td>
                <td>@Html.TextBox("mobilenumberD", null, new {@class = "form-control", @placeholder = "Mobile Number", @id = "mobilenumber"})
                
                </td>


            </tr>

            <tr>
                <td>Provider of Choice</td>

                
                <td>
                    <div style="max-width:400px" id="providerdiv" class="hidden">
                        @Html.DropDownList("providerD", new SelectList(ViewBag.providerlist, "Id", "Name", new { @class = "form-control chosen-select hidden", @id = "providerD", multiple = "multiple", @required = "Select a provider from the list" }))


                    </div> 
                
                </td>


            </tr>
            <tr>
                <td>Pre-existing Medical Conditions</td>
                <td>@Html.TextArea("premedicalconditionD", null, new {@class = "form-control", @placeholder = "Pre-existing Medical Conditions", @id = "premedicalcondition"})
                
                </td>


            </tr>
        </tbody>
    </table>
</div>
<div class="modal-footer">

    <button data-dismiss="modal" class="btn btn-default pull-left modal-close-btn" type="button">Cancel</button>
    <button class="btn btn-primary" type="submit" id="btnSave">Save </button>
</div>

}

<script>

    $(function () {
        $('#modal-container').on('shown.bs.modal', function () {
            $("#providerD").chosen({
                no_results_text: "Oops, nothing found!",
                width: '98%',
                placeholder_text_multiple: "Select Hospital",
                max_shown_results: 20,
                max_selected_options: 1,

            });
            $('#providerdiv').removeClass('hidden');

            
        });

      



        //Do validation for yourself.
        $('#btnSave').click(function (e) {

            $('#modal-container').modal('hide');
        });
        //Date picker
        $('#datepicker2').datepicker({
            autoclose: true
        });
        
        $("#photoInputFileD").val('');
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#photo_imgD').attr('src', e.target.result);
                };

                reader.readAsDataURL(input.files[0]);
            }
        }

        //check if the photoinputfile event change
        $("#photoInputFileD").change(function () {


            //this.files[0].size gets the size of your file.
            var size = (this.files[0].size / 1024);
            if (size > 200) {
                //file too large

                alert('Passport is too large, size cannot be greater than 200kb');
                $("#photoInputFileD").val('');
                $('#photo_imgD').attr('src', '/../Apps/Core/Content/Images/placeholder-photo.png');
            } else {
                readURL(this);
            }
            //   

            //    $("#errormsg").html('Avatar cannot be greater than 20kb,use a smaller image file.');
            //    $("#errortab").removeClass("hidden");

            //    $('#photo_img').attr('src', '~/Content/dist/img/no_pic.png');
            //    return;
            //}
            //else remove error
            //$("#errormsg").html('');
            //$("#errortab").addClass("hidden");


        });

    
    });
</script>



