@using MrCMS.Helpers
@model MrCMS.Web.Apps.Core.Entities.EnrolleeVerificationCode
@{
    ViewBag.Title = "Verification Code Details";
}
 
 @helper DateShort(DateTime? input)

{
     var resp = "";

if(input !=null)
{
   resp=Convert.ToDateTime(input).ToString("MM/dd/yyyy");  
}
else
{
   resp=DateTime.Now.ToString("MM/dd/yyyy");
}
     

@resp;
 }

  
 <div class="modal-header">
     <button aria-label="Close" data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span></button>
     <h4 class="modal-title">Verification Code Details</h4>
 </div>
<div class="modal-body">
    <table class="table table-condensed ">
        <tbody>
            <tr>
                @Html.HiddenFor(x=>x.Id)
                                            
            </tr>
            <tr>
                <td>Verification Code</td>
                <td><b>@Html.DisplayFor(x=>x.VerificationCode)</b></td>
            </tr>

            <tr>
                <td>Enrollee Full Name</td>
                <td><b>@ViewBag.EnrolleeFullName</b></td>
            </tr>

            <tr>
                <td>Policy Number</td>
                <td><b>@ViewBag.policynumber</b></td>
            </tr>
            <tr>
                <td>Provider Name</td>
                <td><b>@ViewBag.ProviderName</b></td>
            </tr>
            <tr>
                <td>Request Date</td>
                <td><b>@Html.DisplayFor(x=>x.EncounterDate)</b></td>
            </tr>
            <tr>
                <td>Authentication Date</td>
                <td><b>@Html.DisplayFor(x=>x.DateAuthenticated)</b></td>
            </tr>

 <tr>
                <td>Status</td>
                <td><b>@Html.DisplayFor(x=>x.Status)</b></td>
            </tr>
            <tr>
                <td>Services Accessed</td>

                <td>@ViewBag.ServiceAccessed</td>
            </tr>
            <tr>
                <td>Authorization Code Given</td>

                <td>@Html.DisplayFor(x=>x.AuthorizationCode)
                </td>


            </tr>
 <tr>
                <td>Date Expired</td>
                <td><b>@Html.DisplayFor(x=>x.DateExpired)</b></td>
            </tr>

            <tr class="form-group">
                <td>Authorized By</td>

                <td>
        
   
                </td>


            </tr>
  <tr class="form-group">
                <td>Authorization Date</td>

                <td>  @Html.DisplayFor(x=>x.DateAuthorized)
                </td>


            </tr>
            <tr>
                <td>Additional Note</td>
                <td><b>@Html.DisplayFor( x=>x.AgentNote)</b></td>
            </tr>

        

        </tbody>
    </table>
</div>
<div class="modal-footer">

    <button data-dismiss="modal" class="btn btn-default pull-left modal-close-btn" type="button">Cancel</button>

</div>







